@{
    ViewBag.Title = "Entity Type";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


@section NavBarLeft{
    <h3 class="text-themecolor m-b-0 m-t-0">Entity Type</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Category</a></li>
        <li class="breadcrumb-item active">Entity Type</li>
    </ol>
}

@section NavBarRight{
}

<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="pull-left">
                <h4 class="card-title">Entity Type</h4>
                <input type="hidden" id="TenantId" value="TenantId" />
            </div>
            <div class="pull-right">
                <button onclick="Category.editEntityTypeModel()" type="button" class="btn waves-effect waves-light btn-info">Add New</button>
            </div>
            <div class="clearfix"></div>
            <div class="table-responsive">
                <table id="example23" class="table table-bordered table-striped text-center table-sm" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="no-sort">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Edit Entity Type Popus -->
<div class="modal fade user-search-poppus" id="change-categoryname-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Entity Type</h5>
            </div>
            <div class="modal-body">
                <div class="role-model-error"></div>
                <div class="sf-submit-info1">
                    <form class="form-horizontal" id="frmEditData">
                        <input id="Guid" name="Guid" type="hidden" />
                        <div class="form-group">
                            <label for="editFormCategory">Entity Type Name<span class="text-danger">*</span></label>
                            <input type="text" data-val="true" data-val-required="This field is required."  class="form-control" id="editFormCategory" required name="editFormCategory" maxlength="50">
                            <span class="field-validation-valid form-control-feedback" data-valmsg-for="editFormCategory" data-valmsg-replace="true"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Category.editEntityTypeSubmit(true);" class="btn-sm waves-effect waves-light btn-info">Save</button>
                <button id="btn-cancel" type="button" class="btn-sm  btn btn-inverse waves-effect waves-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Add New Entity Type Popus -->
<div class="modal fade user-search-poppus" id="add-categoryname-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Entity Type</h5>
            </div>
            <div class="modal-body">
                <div class="role-model-error"></div>
                <div class="sf-submit-info1">
                    <form class="form-horizontal" id="frmSaveData">
                        <input id="Guid" name="Guid" type="hidden" />
                        <div class="form-group">
                            <label for="addActivityCategory">Entity Type Name<span class="text-danger">*</span></label>
                            <input type="text" data-val="true" data-val-required="This field is required."  class="form-control" id="addActivityCategory" required name="addActivityCategory" maxlength="50">
                            <span class="field-validation-valid form-control-feedback" data-valmsg-for="addActivityCategory" data-valmsg-replace="true"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Category.editEntityTypeSubmit(false);" class="btn-sm waves-effect waves-light btn-info">Save</button>
                <button id="btn-cancel" type="button" class="btn-sm  btn btn-inverse waves-effect waves-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Entity Type -->
<div class="modal fade user-search-poppus" id="manage-confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm</h5>
            </div>
            <div class="modal-body">
                <div class="sf-submit-info">
                    Are you sure want to active/deactivate selected user?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Category.deleteEntityType()" class="btn-sm waves-effect waves-light btn-info" data-dismiss="modal">Yes</button>
                <button type="button" class="btn-sm  btn btn-inverse waves-effect waves-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="/content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    @Scripts.Render("~/apps/categories")
    @Scripts.Render("~/bundles/jqueryval")
}