.DS_Store
.ssh\
.svn\
/Aspree/Aspree/obj
/Aspree/Aspree/bin
/Aspree/Aspree.Core/obj
/Aspree/Aspree.Core/bin
/Aspree/Aspree.Data/obj
/Aspree/Aspree.Data/bin
/Aspree/Aspree.Provider/obj
/Aspree/Aspree.Provider/bin
/Aspree/Aspree.WebApi/obj
/Aspree/Aspree.WebApi/bin
/Aspree/packages
/Aspree/NugetServerApp/Packages
/Aspree/NugetServerApp/obj
/Aspree/NugetServerApp/bin
/Aspree/Aspree.Data/ActivityFormRole.cs
