@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            @Html.Partial("~/Views/Shared/ManageSystemAdminTools.cshtml")
        </div>
    </div>
</div>
@section Scripts {
    <script src="/content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
}




