
@font-face {
   font-family: 'robotolight';
   src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
      url('../fonts/roboto-light-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'robotoregular';
   src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
      url('../fonts/roboto-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'robotomedium';
   src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
      url('../fonts/roboto-medium-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'robotobold';
   src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
      url('../fonts/roboto-bold-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'robotoblack';
   src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
      url('../fonts/roboto-black-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
.roboto-light{
   font-family: 'robotolight';
}
.roboto-regular{
   font-family: 'robotoregular';
}
.roboto-medium{
   font-family: 'robotomedium';
}
.roboto-bold{
   font-family: 'robotobold';
}
.roboto-black{
   font-family: 'robotoblack';
}
/*---------------------------------
Default Css
----------------------------------*/
body{
   /*font-family: 'robotoregular';
   font-weight: normal;
   font-size: 0.8rem;
   line-height: 1.15;
   color: #969696;
   background: transparent;*/
   font-family: "Poppins", sans-serif;
   position: relative;
   top: 0;
   min-height: 100vh;
}
/*input, textarea{
   font-family: 'robotoregular';
}
.btn, button{
   font-family: 'robotomedium';
   letter-spacing: 0.04rem;
   font-weight: normal;
}
h1, h2, h3, h4, h5, h6{
   font-family: 'robotobold';
   font-weight: normal;
   color: #222;
}
body label{
   font-family: 'robotomedium';
   color: #222;
   font-weight: normal;
}*/
.form-control{
   font-size: 0.8rem;
}
.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#4587f7), to(#4587f7)), -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#d9d9d9));
   background-image: -webkit-linear-gradient(#4587f7, #4587f7), -webkit-linear-gradient(#d9d9d9, #d9d9d9);
   background-image: -o-linear-gradient(#4587f7, #4587f7), -o-linear-gradient(#d9d9d9, #d9d9d9);
   background-image: linear-gradient(#4587f7, #4587f7), linear-gradient(#d9d9d9, #d9d9d9);
}
.theme-color{
   color: #4587f7;
}
.theme-bgcolor{
   background-color: #4587f7;
}
.secondary-color{
   color: #43425d;
}
.secondary-lite-color{
   color: #8d8c9d;
}
.secondary-bgcolor{
   background-color: #43425d;
}
.green-color{
   color: #21e329;
}
.green-bgcolor{
   background-color: #21e329;  
}
.text-color{
   color: #99abb4;
}
.hedding-color{
   color: #222;
}
.light-gray-bg{
   background-color: #F0F0F7; 
}
.white-bgcolor{
   background-color: #fff; 
}
.white-text, .white-text h1, .white-text h2, .white-text h3, .white-text h4, 
.white-text h5, .white-text h6, .white-text p, .white-text a{
   color: #fff;
}
.box-shadow-none{
   -webkit-box-shadow: none;
   -ms-box-shadow: none;
   box-shadow: none;
}
.text-shadow-none{
   -webkit-text-shadow: none;
   -ms-text-shadow: none;
   text-shadow: none;
}
img{
   max-width: 100%;
}
a, a:hover, .link, .link:hover{
   color: #4587f7;
   -webkit-transition: color 0.25s ease-in-out;
   -ms-transition: color 0.25s ease-in-out;
   transition: color 0.25s ease-in-out;
   cursor: pointer;
}
ul, ol{
   margin: 0;
   padding: 0;
}
*:focus, button:focus, a:focus, img:focus, iframe:focus, canvas:focus, .btn:focus{
  -webkit-outline: none;
  -ms-outline: none;
  outline: none;
}
::-moz-selection {
   color: #fff;
   background: #4587f7;
}
:: selection{
   color: #fff;
   background: #4587f7;
}
.userselect-none{
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.full-height{
   height: 100vh;
}
.waves-effect.waves-light .waves-ripple {
   background-color: rgba(255, 255, 255, 0.15);
}
.dropdown-menu{
   position: absolute;
   left: 0;
   right: auto;
}
.dropdown-menu-right {
   right: 0;
   left: auto;
}
.main-contenair {
   width: 100%;
   height: auto;
   padding: 0 1.5rem;
}
.main-contenair::after {
   display: block;
   clear: both;
   content: "";
}
.bell-alert {
   width: 9px;
   height: 9px;
   border-radius: 50%;
   background: #FF6565;
   display: block;
   border: solid 2px #fff;
   position: absolute;
   top: 0;
   right: 0;
}
ul.list-inline li{
   padding: 0;
   margin-left: 0.5rem;
}
ul.list-inline li:first-child{
   margin-left: 0;
}
.card-header, .card-footer{
   background: transparent;
   margin: 0;
}
.card-header .card-title{
   font-size: 1.3rem;
   line-height: 1.5rem;
   margin: 0;
}
.card .card-subtitle{
   /*font-family: 'robotoregular';*/
   font-size: 1rem;
   line-height: 1.2rem;
   margin-top: 0.7rem;
   margin-bottom: 0.2rem;
}
.primary-title{
   font-size: 1.3rem;
   color: #43425d;
   letter-spacing: 0.2rem;
}
.pt-05{
   padding-top: 0.17rem;
}
/*---- List-menu ------*/
ul.list-menu {
   list-style: none;
   padding: 0;
   margin: 0;
}
ul.list-menu ul{
   list-style: none;
   padding: 0;
   margin: 0;
}
ul.list-menu  ul li a{
   padding-left: 0.5rem;
}
ul.list-menu  ul li a:before{
   content: "-";
   position: absolute;
   left: 0;
   top: 2px;
}
ul.list-menu li {
   margin-top: 0.6rem;
}
ul.list-menu > li:first-child {
   margin-top: 0;
}
ul.list-menu li a{
   position: relative;
   color: #222;
   font-size: 0.9rem;
}
ul.list-menu > li{
   margin-top: 0.8rem;
}
ul.list-menu > li > a{
   font-family: 'robotomedium';
}
.list-menu .list-submenu {
   display: none;
   padding-bottom: 0.5rem;
}
.list-menu .list-dropdown .list-submenu li {
   padding-left: 1rem;
}
.list-menu .list-dropdown > a{
   padding-right: 0.9rem;
}
.list-menu .list-dropdown > a:after{
   content: "";
   width: 6px;
   height: 6px;
   position: absolute;
   right: 0;
   top: 8px;
   display: inline-block;
   vertical-align: middle;
   border-right:solid 1px #888;  
   border-bottom:solid 1px #888;
   -webkit-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   -webkit-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
}
.list-menu .list-dropdown.active > a:after{
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}
/*------ Custom Switch button --------*/

.pb-switch-label {
   height: 30px;
   background: #1e88e5;
   width: 70px;
   border-radius: 18px;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}
.pb-switch-label [type="checkbox"] + .pb-switch-box {
   position: absolute;
   top: 3px;
   left: 3px;
   width: 24px;
   height: 24px;
   background: #fff;
   border-radius: 50%;
   display: block;
   -webkit-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.pb-switch-label [type="checkbox"]:checked + .pb-switch-box {
   -webkit-transform: translateX(40px);
   -ms-transform: translateX(40px);
   transform: translateX(40px);
}
.pb-switch-box:after, .pb-switch-box:before{
   position: absolute;
   top: 4px;
   /*font-family: 'robotobold';*/
   font-weight: 600;
   color: #fff;
   font-size: 0.75rem;
   letter-spacing: 0.04rem;
   text-transform: uppercase;
}
.pb-switch-box:before{
   content: "no";
   left: -30px;
}
.pb-switch-box:after{
   content: "off";
   left: 33px;
}

/*-----------------------------------------
Header
------------------------------------------*/
.project-header {
   height: 50px;
}
header.header{
   position: relative;
}
.pjt-name-wrap{
   position: absolute;
   left: 0;
   right:0;
   max-width: 700px;
   margin: 0 auto;
   text-align: center;
}
.pjt-name {position: relative; top: 3px;
   font-size: 2rem;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 0.3rem;
   margin: 0;
   text-shadow: 0px 2px 8px rgba(0,0,0,0.20);
}
ul.hd-pjt-menu li a{
   color: #fff;
   font-size: 0.8rem;
   letter-spacing: 0.17rem;
}
ul.hd-pjt-menu li a.dropdown-toggle::after{
   margin-left: .4em;
   border-top: .55em solid;
   border-right: .4em solid transparent;
   border-left: .4em solid transparent;
   vertical-align: middle;
   -webkit-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.dropdown.show .dropdown-toggle::after{
   border-top: 0;
   border-bottom: .55em solid;
}
.hd-pjt-menu .dropdown-menu{
   padding: 1.4rem 1.2rem;
   padding-top: 1.1rem;
   -webkit-box-shadow: -4px 5px 23px 0 rgba(0,0,0,0.1);
   box-shadow: -4px 5px 23px 0 rgba(0,0,0,0.1);
}
ul.uh-menu .bell-alert{
   top: -2px;
}
.hd-pjt-name {
   /*font-family: 'robotomedium';*/
   font-size: 0.9rem;
   color: #6b6a7f;
   margin-bottom: 0.8rem;
}
.hd-pjt-item-img{
   -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
   border-radius: 4px;
   border: 1px solid rgba(0,0,0,.15);
   display: block;
   margin-bottom: 1.3rem;
   overflow: hidden;
   -webkit-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.hd-pjt-item-img:hover{
   -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
   box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
   border: 1px solid rgb(69, 135, 247, 0.4);
}
.hd-current-pjt .hd-pjt-item-img {
   box-shadow: none;
}
ul.hd-other-pjt-list li:last-child .hd-pjt-item-img{
   margin-bottom: 0;
}
.hd-pjt-item-img img{
   max-width: 120px;
   width: 100%;
   height: auto;
}
/*-----------------------------------------
User Header
------------------------------------------*/
.user-header{
   height: 40px;
   background: #dfdfe5;
}
.uh-profile-name {
   /*font-family: 'robotobold';*/
   font-size: 1.3rem;
   letter-spacing: 0.2rem;
}
.uh-profile-wrap{
   margin-top: 0.45rem;
}
ul.uh-menu{
   margin-top: 0.6rem;
}
ul.uh-menu li{
   margin: 0 0.3rem;
}
ul.uh-menu li a {
   color: #fff;
   display: block;
   padding: 0.2rem;
   font-size: 0.8rem;
   position: relative;
}
/*-----------------------------------------
Default Redio
------------------------------------------*/
[type="radio"]:checked + label:before{
   border: 2px solid #4587f7;
}
[type="radio"] + label:before, [type="radio"] + label:after {
   border: 2px solid #4587f7;
}
[type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after {
   border: 2px solid #888;
}
[type="radio"]:checked + label:after {
   -webkit-transform: scale(0.5);
   -ms-transform: scale(0.5);
   transform: scale(0.5);
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
   background-color: #4587f7;
}
[type="radio"] + label:before, [type="radio"] + label:after{
   margin: 4px 0;
}
/*-----------------------------------------
Login Page
------------------------------------------*/
.login-form-wrap a{
   color: #43425d;
}
form.login-form{
   max-width: 340px;
   margin: 0 auto;
}
.lp-footer {
   font-size: 0.62rem;
   color: #43425d;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   text-align: center;
}
.lp-footer a{
   color: #43425d;
}
.login-form-inner{
   width: 100%;
}

.login-form .checkbox {
   margin-top: -2px;
}
.lp-subtitle {
   margin-top: 1rem;
   font-size: 0.75rem;
   color: #bfbfbf;
}

/*.lp-form .form-control {
   color: #43425d;
   font-size: 0.7rem;
   background-size: 0 2px, 100% 2px;
}*/
.lp-form.form-material .form-control, .lp-form.form-material .form-control.focus, .lp-form.form-material .form-control:focus {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#43425d), to(#43425d)), -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#efefef));
   background-image: -webkit-linear-gradient(#43425d, #43425d), -webkit-linear-gradient(#efefef, #efefef);
   background-image: -o-linear-gradient(#43425d, #43425d), -o-linear-gradient(#efefef, #efefef);
   background-image: linear-gradient(#43425d, #43425d), linear-gradient(#efefef, #efefef);
   border: 0 none;
   border-radius: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
   float: none;
}
.lp-pholder .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #43425d;
}
.lp-pholder .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #43425d;
}
.lp-pholder .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #43425d;
}
.lp-pholder .form-control:-moz-placeholder { /* Firefox 18- */
  color: #43425d;
}
.lp-bt-link{
   font-size: 0.62rem;
   color: #43425d;
}
.checkbox-small [type="checkbox"] + label {
   font-size: 0.62rem;
   height: 18px;
   line-height: 18px;
}
.checkbox-small [type="checkbox"] + label:before, .checkbox-small [type="checkbox"]:not(.filled-in) + label:after {
   width: 14px;
   height: 14px;
   z-index: 0;
   border: 1px solid rgba(0,0,0,0.3);
   border-radius: 4px;
   margin-top: 2px;
}
.checkbox-small [type="checkbox"]:checked + label:before {
   top: -4px;
   left: -2px;
   width: 11px;
   height: 19px;
}
.checkbox-small [type="checkbox"]:checked + label:before {
   top: -1px;
   left: 0;
   width: 9px;
   height: 14px;
   border-top: 2px solid transparent;
   border-left: 2px solid transparent;
   border-right: 2px solid #26a69a;
   border-bottom: 2px solid #26a69a;
   -webkit-transform: rotate(40deg);
   -ms-transform: rotate(40deg);
   transform: rotate(40deg);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transform-origin: 100% 100%;
   -ms-transform-origin: 100% 100%;
   transform-origin: 100% 100%;
   border-radius: 3px;
}
.login-form-field {
   padding: 0 1.5rem;
}
.btn-small .btn{
   /*color: #fff;
   background: #43425d;
   border: 1px solid #43425d;
   font-size: 0.7rem;
   line-height: 1.5rem;
   height: 40px;*/
}
.login-form1 .btn{
   min-width: 155px;
}
.login-page-logo {
   background: #f0f0f7;
}
.lp-logo { text-align:center;}
.lp-logo a{
   font-size: 2.8rem;
   transition: unset;
   color: #fff;
   letter-spacing: 0.4rem;
}
.lp-logo a:hover{color: #fff;}
.sendrequest-btn{
   min-width: 200px;
}
.goback-btn{
   min-width: 140px;
}
.forgot-pwd-field{
   color: #43425d;
   font-size: 0.7rem;
   background-size: 0 2px, 100% 2px;
   position: relative;
   padding-right: 4rem;
   max-width: 300px;
   margin: 0 auto;
}
.forgot-pwd-field label {
   position: absolute;
   right: 0;
   height: 37px;
   top: 0;
   padding-top: 0.66rem;
   border-bottom: solid 2px #efefef;
   padding-right: 1rem;
}
/*----------------------------------
user Card
----------------------------------*/
.user-ctm-card .card-title {
   font-size: 1.3rem;
   line-height: 1.4rem;
   margin-bottom: .75rem;
}
.user-ctm-card .card-header{
   padding-top: 1.5rem;
   padding-bottom: 1rem;
}
.user-ctm-card .card-footer{
   padding-top: 1rem;
   padding-bottom: 1rem;
}
.user-ctm-card .card-subtitle{
   margin-bottom: 0;
}
.card-btn-group .btn{
   min-width: 110px;
}
/*------------------------------
User Tab Page
-------------------------------*/
.usinfo-tab ul.nav li.nav-item a {
   font-size: 1rem;
   font-weight: normal;
   color: #fff;
   border-bottom: solid 2px transparent;
   letter-spacing: 0.02rem;
   padding: 0.7rem 0.9rem;
   padding-top: 0.78rem;
   -webkit-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.usinfo-tab ul.nav li.nav-item a.active{
   border-bottom: solid 2px #EAEA88;
}
.usinfo-tab ul.nav li.nav-item{
   margin-right: 0.1rem;
}
.usinfo-tab ul.nav li.nav-item:last-child{
   margin-right: 0;
}
.sp-tabcontent .form-group{
   margin-bottom: 0.7rem;
}
.sp-tabnav-redio ul li{
   margin-left: 0.9rem;
}
.sp-tabcontent label{
   margin-bottom: 0;
}
.sp-tabnav-redio [type="radio"] + label {
   /*font-family: 'robotobold';*/
   font-size: 0.85rem;
   text-transform: uppercase;
   line-height: 1rem;
   margin: 0;
   letter-spacing: 0.05rem;
   margin-top: 0.5rem;
}
.sp-tabnav-redio [type="radio"] + label:before, .sp-tabnav-redio [type="radio"] + label:after {
   margin: 0;
}
.sp-tabcontent-redio{
   display: none;
}
.sp-tabcontent-redio.sp-active{
   display: block;
}
.sp-tabcontent-redio .form-control{
   color: #222;
}
/*-----------------------------
Search Popups
-----------------------------*/
@media (min-width: 576px){
   .modal.user-search-popups .modal-dialog {
      max-width: 500px;
      margin: 1.75rem auto;
   }
}
.sf-submit-info .table{
   margin: 0;
}
.sf-submit-info .table tr:first-child td{
   border-top: none;
}
.sf-submit-info .sf-hd-title{
   color: #222;
}
.sf-submit-info .table td, .sf-submit-info .table th {
   padding: .6rem;
}
.modal-title {
   font-size: 1rem;
   line-height: 1.2rem;
}
/*----------------------------
User admin select project
----------------------------*/
.uselect-wel-des {
   font-size: 1.05rem;
   color: #8d8c9d;
   letter-spacing: 0.11rem;
   line-height: 1.5rem;
}
.uspro-header-inner{
   min-height: 50px;
}
ul.user-selectpro li a {
   text-align: center;
   -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
   border-radius: 4px;
   border: 1px solid rgba(0,0,0,.15);
   display: block;
   margin-bottom: 1.3rem;
   overflow: hidden;
   -webkit-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
ul.user-selectpro li a:hover {
   -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
   box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
   border: 1px solid rgb(69, 135, 247, 0.4);
}
.uspro-header-title{
   font-size: 1.8rem;
   line-height: 2rem;
   color: #43425d;
   text-transform: uppercase;
   letter-spacing: 0.3rem;
   margin: 0;
   text-align: center;
   padding-top: 0.58rem;
}
/*-----------------------------
Project Builder
------------------------------*/
.pb-varform-left{
   padding: 1rem 1rem;
   border: 1px solid rgba(0,0,0,.125);
   border-radius: 4px; 
}
.pb-varform-right{
   border: 1px solid rgba(0,0,0,.125);
   border-radius: 4px;
   overflow: hidden;
}
.pb-varform-title {
   font-size: 1rem;
   line-height: 1.1rem;
   font-family: 'robotomedium';
   margin: 0;
   margin-bottom: 2rem;
   text-transform: capitalize;
}
.pb-varform-title > span{
   border-bottom: solid 2px #eee;
   padding-bottom: 0.2rem;
}
.pb-varform label{
   margin-bottom: 0;
   ;line-height: 1rem;
}
.pb-varform input.form-control{
   min-height: 30px;
   height: 30px;
   padding: .3rem .3rem;
}
.pb-varform textarea.form-control{
   padding: .3rem .3rem;
}
.pb-varform select.custom-select{
   font-size: 0.8rem;
   min-height: 30px;
   height: 30px;
   background: url(../images/custom-select.png) right 0.25rem center no-repeat;
   padding: .2rem 1.0rem .25rem .3rem;
   background-size: 9px;
}
.pb-varform .form-group{
   margin-bottom: 0.7rem;
}
.pbr-padding{
   padding-left: 1.7rem;
   padding-right: 1.7rem;
}
.pb-blood-list label{
   line-height: 1rem;
   font-size: 0.9rem;
}
.pb-blood-list .form-group{
   margin-bottom: 0;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}
.pb-blood-list .form-group:nth-child(odd){
   background: #f2f4f8;
}
.pd-width.btn, button.pd-width{
   min-width: 100px;
}
.link-btn{
   font-size: 0.9rem;
   color: #4587f7;
}
.btn.full-round, button.full-round{
   border-radius: 50%;
   width: 34px;
   height: 34px;
   line-height: 1rem;
   padding: 0.55rem;
   text-align: center;   
}

/*--- Library list ----*/
.pb-library-list-wrap {
 
}
/*-------------------*/


/*++++++++++++++++++++++10-09-18++++++++++++++++++++++*/
.login-page-wrap {
    width: 79.65%;
    margin: 4% auto;
}
.login-page-logo.blue-back{ background-color:rgba(51,102,255,0.9); background-size: cover;
background-image: url(../../assets/images/old-man.png); background-repeat:no-repeat;}
.login-page-logo.dark-gray{ background-color:#141514e6;}
.body-background{background-image: url(../../assets/images/body-background.png); background-position:top left; background-repeat:no-repeat;background-size: cover;}
section.login-page{ float:left; width:100%;}
.gray-back{ background-color:#f6f6f6;}
.height-fill{ height:100%;}
body form.login-form{ max-width:100%;}
.pall-6 {
    padding: 5rem!important;
}
body .login-form-field{ padding:0px;}
.login-form-blue .lp-title {
   color: #3366ff;
}
.login-form-blue .lp-subtitle {
    color: #bfbfbf;
	margin-top:0px;
}
/*.login-form-blue input.form-control {
    background-color: #fff;
    border: 1px solid #ced4da !important;
    border-radius: 5px !important;
	padding:6px;
}*/
.login-form-blue .btn-small .btn{ background-color:#3a8ae9; border-color:#3a8ae9;}
.login-form-blue .login-form .btn{ width:inherit;     padding: 6px 25px;}
.login-form-blue .checkbox-small [type="checkbox"] + label:before,.login-form-blue .checkbox-small [type="checkbox"]:not(.filled-in) + label:after {
    width: 20px;
    height: 20px;
	top:-3px;}
.login-form-blue .checkbox-small [type="checkbox"]:checked + label:before{
    top: -2px;
    left: 2px;
    width: 9px;
    height: 16px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #3a8ae9;
    border-bottom: 2px solid #3a8ae9;}
/*.login-form-blue label{ margin-bottom:10px; color:#303640;}*/	
.m-t-20{ margin-top:20px;}
.checkbox-small label{ font-size:16px; }
.nav-height{ height:60px !important; max-height:60px !important;}
.nav-links {
    padding: 0;
    margin: 0 0 0 30px;
}
.nav-links li{
	list-style:none;
	display:inline-block;
	
}
.nav-links li a{padding: 10px;color:rgba(255,255,255,0.5) !important;}
.nav-links li a.active{ color:#fff !important;}
.body-background .page-wrapper{ padding:30px 0px; background:transparent;} 
.body-background .dashboard-container{ border-radius:0px; background-image: url(../../assets/images/dashboard-back.png); background-position:top left; background-repeat:no-repeat; }
.participant-box img {
    width: 150px;
    height: auto;
    display: inline-block;
    float: none;
    margin: 30px auto;
}
.participant-box span{ color:#303640; font-size:20px;margin-top: 10px;}
.card.dashboard-container .card-body {
    padding: 2rem 5rem;
}
.card.text-center.participant-box {
    min-height: 250px;
}
.search-feild label {
    width: 100%;
    color: #878b8f;
    font-size: 20px;
}
.search-feild input {
    height: 80px;
    margin-bottom: 30px;
    border-left: 10px solid #3366ff !important;
    border-radius: 3px 0px 0px 3px !important;
    border-color: #fff;
	font-size:24px;
	color:#303640;
	padding-left: 60px;
}
.input-group.search-feild {
    margin-bottom: 40px;
}
.btn.btn-info.blue-arrow-back {
    background-color: #fff;
    border: #fff;
    box-shadow: none;
}
.form-control-feedback.error-red {
    color:#fc4b6c;
}
.login-form-height {
 min-height:365px;
     width: 100%;
}
  div#Error .alert {
    margin: 10px 0px;
}

  #processLoader {
    display: none;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.5);
    border: 1px solid #3498db;
    position: fixed;
    z-index: 999999;
    right: 30px;
    bottom: 30px;
}

    #processLoader .loader {
        border: 10px solid #f3f3f3;
        border-radius: 50%;
        border-top: 10px solid #3498db;
        width: 75px;
        height: 75px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

#blocker{
    width:100%;
    height:100vh;
    position:fixed;
    z-index:9999999999;
    top:0;
    left:0;
    display:none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#Privileges .p-item:last-child{
    border:none!important;
    margin-bottom:0px!important;
}
#Privileges .p-item label{
    cursor:pointer;
}

.error-red {
    color:#fc4b6c;
}
.m-r-10 {
 margin-right:10px;}

.search-box { display:none;
}
/*.sidebar-nav > ul > li > a.active i, .sidebar-nav > ul > li > a:hover i {    color: #26c6da !important;
}*/

.light-gray-bg .topbar{ background:#404040;}
.main-content{ width:100%;}
.content-flex{ display:table; width:100%; height: 158px;}
.content-flex-item{ display:table-cell; vertical-align:middle; text-align:center;}
.main-content > .justify-content-lg-center{ display:flex; flex-wrap:nowrap;}
.TabCard > .card{    background: none; border: none; box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);}
.TabCard > .card > .card-body{ padding:0px;}
.TabCard .tab-content{ background:#fff;    padding: 30px 15px;}
   .TabCard .nav-tabs li > a{ color: #455a64;}
.TabCard .nav-tabs li > a:hover{ background:#fff;}
.SelectCategorie{line-height: 36px;}
.user-selectpro-section .card-header{ background:none;}
.user-selectpro-section .card-header h3, .uh-profile-name{ font-weight:500;}
.form-group.form-group-bottom{ overflow:hidden; margin-bottom:0px;}
.card.LibraryCard{ margin-bottom:0px;}