
@{
    ViewBag.Title = "Thank You";
}
<section class="section registration-section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            
            <div class="text-xs-center" style="text-align:center">
                <br />
                <br />
                <br />
                <h1 class="display-3">Thank You!</h1>
                <p class="lead"><strong>Success!</strong> User was registered successfully.</p>
                <hr>
                <p class="lead">
                    <a class="btn btn-info waves-effect waves-light m-t-10" href="/account/register" role="button">Register New User</a>
                </p>
            </div>
        </div>
    </div>
</section>