
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs system-admin-tools" role="tablist">
                        <li class="nav-item"  onclick="App.goto('/SystemAdminTools/ManageCategories')"> <a class="nav-link" data-toggle="tab" href="#managecategories" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Manage Categories</span></a> </li>
                        <li class="nav-item"  onclick="App.goto('/SystemAdminTools/ManageRoles')"> <a class="nav-link" data-toggle="tab" href="#manageroles" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Manage Roles</span></a> </li>
                        <li class="nav-item"  onclick="App.goto('/SystemAdminTools/ManageEntities')"> <a class="nav-link" data-toggle="tab" href="#manageentities" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Manage Entities</span></a> </li>
                        <li class="nav-item"  onclick="App.goto('/SystemAdminTools/ManageUsers')"> <a class="nav-link" data-toggle="tab" href="#manageusers" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Manage Users</span></a> </li>
                        <li class="nav-item" onclick="App.goto('/SystemAdminTools/ManageAuthentication')"> <a class="nav-link" data-toggle="tab" href="#manageAuthentication" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Manage Authentication</span></a> </li>
                    </ul>
                    <!-- Tab panes -->
